<app-carousel></app-carousel>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col" *ngFor="let product of products">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" 
                  width="100%" height="225" 
                  role="img" aria-label="Placeholder: Thumbnail" 
                  preserveAspectRatio="xMidYMid slice" 
                  focusable="false" src="{{product.image}}"/>


                
        
                  <div class="card-body">
                    <h3 class="card-text">{{product.name}} <span style="color: green;">{{product.price}}$RD</span></h3>
                    <h6 class="card-text">Stock: {{product.stock}}</h6>
                    <p class="card-text">{{product.description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

        </div>

    </div>
</div>  
